.addCard {
    background-color: #02608b;
    font-weight: 400;
    color: aliceblue;
    border-radius: 4px;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.addCard input {
    width: 40%;
    height: 30px;
    
    margin-right: 10px;
    padding-left: 20px;
}

.addCard button {
    width: 20%;
    height: 30px;

    font-size: 18px;
}

.todos {
    background-color: rgb(224, 218, 209);
    border-radius: 5px;
    padding: 10px;
    border: #4e4e4e solid 1px;
    text-align: center;
    margin-top: 25px;
    display: grid;
    align-items: center;
}